<div class="container">
	<div class="post">
		<h2 class="pagetitle">Add Game</h2>

		<form class="form__container" method="post">
			{{#if error}}
			<p class="fulltext">{{msg}}</p>
			{{/if}}
			<div class="row">
				<input type="text" class="form" placeholder="gameName" name="gameName" required="required">
			</div>
			<div class="row">
				<input type="submit" class="button__form" value="Add">
			</div>
		</form>
	</div>
</div>