<div class="container">
	<div class="container_header_search">
		<h1 class="page__title">games</h1>

	</div>
	<div class="post"></div>
	<form class="form__container" action="/games/search/" method="post">
			<div class="row">
				<input class="form" type="search" name="gameName">
			</div>
			<div class="row">
				<input type="submit" class="button__form" value="Search">
			</div>
	</form>
	</div>
</div>