<div class="logo_container">
	<h1 class="logo__midscreen">
		BORGA
	</h1>
	<object class="image" type="image/svg+xml" data="board-games-set-svgrepo-com.svg"></object>
</div>
{{#unless user}}
<div class="buttons__home__container">
	<h1 class="button__home"><a class="button__home__letters" href="/signup/">SIGN UP</a></h1>
	<h1 class="button__home"><a class="button__home__letters" href="/signin/">SIGN IN</a></h1>
</div>
{{/unless}}